.Women_Fashion{
	margin-top:20px;
}
.Kid_Fashion{
	margin-top:20px;
}
.Wedding{
	margin-top:20px;
}
.Cultural{
	margin-top:20px;
}
.Perfumes{
	margin-top:20px;
}
.Jewellery{
	margin-top:20px;
	}
.Hair_Oils{
	margin-top:20px;
}